@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Roboto Slab", serif;
    background-color: rgb(215, 235, 215);
    margin: 5%;
    line-height: 1.6;
}

main{
    max-width: 800px;
    margin: auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(28, 123, 53, 0.486);
}

header{
    text-align: center;
    color: rgb(17, 41, 18);
    padding: 20px 0;
    border-radius: 8px 8px 0;
    background-image: url('./img/dominik-kempf-I_Cg0Bd3y6M-unsplash.jpg');
    background-size: 100%;
}

header figure img{
    border-radius: 50%;
    border: 5px solid #29382f;
}

header h1{
    font-size: 2em;
    margin-top: 10px;
}

header h2{
    font-size: 1.2em;
    opacity: 0.9;
}

.container{
    background-color: darkolivegreen;
    width: 80%;
    margin: 0 auto;
    position: relative;
    z-index: 1;
}

.contenedor_foto_perfil{
    width: 280px;
    height: 280px;
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
    border: 7px solid olive;
    margin: 5%;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

.contenedor_foto_perfil img{
    width: 100%;
    height: 100%;
    display: block;
}

.cabecera{
    position: relative;
}

.nombre_puesto{
    display: inline-block;
    vertical-align: middle;
    margin-left: 1%;
    text-shadow: 0 0 20px rgba(0,0,0,0.5);
}

h3{
    font-size: 1.4em;
    margin-top: 20px;
    color: rgba(0,0,0,0.5);
}

section{
    background-color: rgb(207, 207, 162);
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

section hr{
    border: 0;
    height: 2px;
    background: rgb(4, 14, 9);
    margin: 10px;
}

ul{
    list-style: none;
}

ul li{
    padding: 5px 0;
}

i{
    color: #29382f;
    margin-right: 8px;
}